[ghq]
	root = ~/Works/src
[user]
	name = MizukiSango
	email = tibbers622@gmail.com
[core]
	editor = vim
	excludesFile = ~/.gitignore
[http]
	postBuffer = 2M
[init]
	defaultBranch = master
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
